.colors {
    display: block;
}

.color-block {
    display: inline-block;
    position: relative;
}

.color-ticker {
    border: 1px solid grey;
    outline: none;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;;
}

.color-ticker:hover {
    border: 1px solid darkgrey;
    opacity: 0.8;
    cursor: pointer;
}