.container {
  height: 100vh;
}

.header {
  background-color: #bd8e0046;
  display: flex;
  height: 80px;
  padding: 10px 10px;
}

.logo {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin-top: 0;
}

.headline {
  color: #1c0904;
  display: inline-block;
  font-size: 55px;
  margin-top: 0;
  margin-left: 20px;
}